

main{

  display: flex;
  gap: 20px;
  background: #e5e7eb;
  height: fit-content;
  padding: 5px   10px;


  section.filter{
    background-color: #f0e934;
    width: 20%;
    
    padding: 5px 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    div.selection{
      // background-color: #e5e7eb ;
      color: black;
      font-size: .8rem;
      padding: 10px 20px;
      // box-shadow: 0 0 5px black;
      border-radius: 10px;
      mat-form-field {
        width: 100%;
      }
    }


    button[mat-raised-button] {
      width: 100%;
      background-color: #0a1a56 !important;
      text-decoration: none;
      color: #e5e7eb;
      border-radius: 12px ;

    }
  }

  section.shop{
    background-color: #e5e7eb;
  }


  section.shop{
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
   

    button[ mat-raised-button]{
      width: fit-content !important;
      height: fit-content !important  ;
      padding: 0 !important;
      margin: 0 !important;
      border: 0 !important;
      outline: none;

      span{
        padding: 0 !important;
        margin: 0 !important;
        border: 0 !important;
        outline: none;
      }

    }
  }
}