
<form action="">
<main>
  <section class="filter">

  <div class="selection">
    <mat-form-field>
      <mat-label>Cars</mat-label>
      <mat-select multiple>
        <mat-select-trigger>


        

        </mat-select-trigger>
        <mat-option *ngFor="let car of cars " [value]="car">{{car}}</mat-option>
      </mat-select>
    </mat-form-field>
    


    <div class="clear">
      <button mat-raised-button>Clear</button>
    </div>
  </div>




  <section class="example-section" >
    <h4>Select Categories:</h4>
    <p *ngFor="let cat of categories">
      <mat-checkbox  [value]="cat"     color="primary">{{cat}}</mat-checkbox>
    </p>

  </section>
  </section>





  <section class="shop">
     
    <app-card *ngFor="let card of cards" [objects]="card"></app-card>
  </section>


</main>
</form>