

<mat-spinner *ngIf="!ready"></mat-spinner>


<section class="the__dialog__itself" *ngIf="ready">
  <div mat-dialog-title>
  <!--  -->
  <button
   mat-icon-button 
   color="primary"
    aria-label="Example icon button with a home icon" 
    class="closeIcone" 
    *ngIf="ready"
  
  (click)="closeDialogComponent();"
  >
    <mat-icon>keyboard_backspace</mat-icon>
  </button>
</div>
  <app-alert *ngIf="alert" status="{{status}}" masseg="{{masseg}}" (closed)="closeAlertHandler($event);"></app-alert>


  <section class="main" *ngIf="ready" mat-dialog-content>

    <section class="top" >
    <div class="left">
      <img src="{{url}}{{data.image}}" alt="{{data.name}}">
    </div>
    
    <div class="right">

      <h1>{{data.name}}</h1>

      
      Price:<h2>{{data.price}}{{pound}}</h2>
      <div class="buttons">
        <button  mat-raised-button (click)="removeOne();"><mat-icon>remove</mat-icon></button>
        <button  mat-raised-button disabled>{{counterItem}}</button>
        <button  mat-raised-button (click)="addOne();"><mat-icon>add</mat-icon></button>
      </div>
      <div class="total">
        <div class="totalorder">
       
          <span style="font-size: 1rem;">Total: {{total   }}</span>
        <br>
        Ordered: {{ordered}}
      </div>


      
      
      </div>
      <div class="addToCart">
        <button mat-raised-button (click)="updateCart();" >Update item<mat-icon>shopping_cart</mat-icon></button><br>
        <button mat-raised-button (click)="deleteItemFromCart();" color="warn" >Delete<mat-icon>delete</mat-icon></button>
      </div>

      <div class="description">
        <p>
        {{data.description}}
        </p>
      </div>

    </div>

  </section>
  
  <hr>
  


  </section>

<!-- deleteItemFromCart -->
</section>