<!-- <nav class="navbar">
  <div class="">
    <a class="navbar-brand" routerLink="/"><img src="./assets/media/_n.png" class="logo" alt=""></a>

    <div class="" id="navbarSupportedContent">

      <ul class="navbar-nav me-auto mb-2 mb-lg-0">

        <li class="nav-item">
          <a class="nav-link " aria-current="page" routerLink="/">Home</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" routerLink="store">Store</a>
        </li> 


        <li class="nav-item">
          <a class="nav-link" href="#">About</a>
        </li> 


        <li class="nav-item">
          <a class="nav-link" href="#">Contact us</a>
        </li> 


        <li class="nav-item">
          <a class="nav-link" href="#">
            <mat-icon>shopping_cart</mat-icon>
          </a>
        </li> 



        
         <li class="nav-item">
          <a class="nav-link disabled" aria-disabled="true">Disabled</a>
        </li> 
      </ul>
      <ul class="navbar-nav gap-2">
      <li class="nav-item">
        <span>All rights belong to &copy; Prickly</span>
      </li>
    </ul>
    </div>
  </div>
</nav> -->


<mat-toolbar>
  <a class="navbar-brand" routerLink="/"><img src="./assets/media/_n.png" class="logo" alt=""></a>

  <li class="nav-item">
    <a class="nav-link" routerLink="About">About</a>
  </li> 


  <li class="nav-item">
    <a class="nav-link" routerLink="Contactus">Contact us</a>
  </li> 



  <span class="example-spacer"></span>
  
  <span>All rights belong to &copy; Prickly</span>
</mat-toolbar>
