// img.logo{
//   max-width: 70px;
//   max-height: 50px;
// }

// nav {
//   background: #0a1a56 !important;
//   padding:  0 0 2px 0 !important; 
//   position: fixed;
//   width: 100vw;
//   width: 100dvw;
//   bottom: 0;
//   ul{
//     li span{
//       color: #f0e934;
//       padding-right: 10px;
//     }
//     li a{
//       color: #f0e934 !important;
//       transition: .4s;
//       font-size: .87rem;
//     }

//     li a:hover{
//       color: #f0ea3498 !important;
//       // margin-top: 5px;
//       transform: translateY(5px);
//     }
//     .t {
//       border:  1px solid #f0e934 !important;
//       background-color:transparent!important ;
//       color: #f0e934 ;
//       transition: .4s !important;
//   }
//   .t:hover{
//     background: #f0e934 !important;
//     color: #0a1a56 !important;
//   }
  
//   }
  
//   button {
//     color: #f0e934 !important;
//     background-color: rgb(150, 150, 150) !important;

//     // .navbar-toggler-icon{
//     // }
//   }


  
// }

mat-toolbar {


  background-color:#0a1a56 ;
  color: #f0e934;
  position: fixed;
  bottom: 0;
  height: 40px;
  z-index: 10000;
  font-size: 10px;
  img{
    max-width: 70px;
    max-height: 50px;
  }

  .example-spacer {
    flex: 1 1 auto;
  }

  li {
    list-style: none;
          color: #f0e934;
          padding-left: 100px;
        }
        li a{
          color: #f0e934 !important;
          transition: .4s;
          font-size: .87rem;
        }
    
        li a:hover{
          color: #f0ea3498 !important;
          // margin-top: 5px;
          transform: translateY(5px);
        }

}
